@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;


.videotext-comments-nextvideos-section{
  @include desktop{
    display: flex;
  }
}

.videotext-comments-section{
  @include desktop{
    width: 70%;
  }
}

.nextvideos-section{
  @include desktop{
    width: 30%;
  }
}